body {
    margin: 0;
	font-family: 'JetBrains Mono';
    background-color: #161616;
    color: #d4d4d4;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 20px;
}

header {
    text-align: center;
    padding: 20px 0;
	color: #be95ff;
}

a {
    color: #be95ff;
    text-decoration: none;
}

a:visited {
    color: #646464;
}

header a {
    text-decoration: none;
	color: #be95ff;
}

header a:visited {
	color: #be95ff;
}

p {
	margin: 0;
}

h2, h3, h4, h5 {
	color: #be95ff;
	margin-bottom: 5px;
	margin-top: 20px;
}

ul {
    list-style-type: none;
	padding-left: 15px;
}

li:before {
    content: '-';
    margin-right: 3px;
    color: #646464;
}

main {
    padding: 20px;
}

.neon-text {
  text-shadow:
    0 0 5px #000000,
    0 0 7px #000000,
    0 0 1px #000000,
    0 0 4px #be95ff,
    0 0 1px #be95ff,
    0 0 1px #be95ff,
    0 0 6px #be95ff,
    0 0 1px #be95ff;
}
